<% content_for :head do%>
  <%= stylesheet_pack_tag("sort") %>
  <%= javascript_pack_tag("sort") %>
<% end %>

<ul>
  <li>
    <%= link_to "Script loaded in HEAD", "sort" %>
  </li>
  <li>
    <%= link_to "Script loaded after body", "sort-backwards" %>
  </li>
</ul>
