<% content_for :head do%>
  <%= stylesheet_packs_with_chunks_tag("application") %>
  <%= javascript_packs_with_chunks_tag("application") %>
<% end %>

<h1 class="title">
  rails/Webpacker examples
</h1>

Source code on Github at <a href="https://github.com/shakacode/webpacker-examples">shakacode/webpacker-examples</a>
