<% content_for :head do %>
  <%= stylesheet_packs_with_chunks_tag("simple-show-bulma") %>
  <%= javascript_packs_with_chunks_tag("simple-show-bulma") %>
<% end %>

<% title "Bulma CSS Framework Example Page" %>
<% description "Bulma CSS Framework Example Page demonstrating Bulma CSS integration with @rails/webpacker." %>

<h1 class="title">
  Bulma CSS Framework Example Page
</h1>

<p class="subtitle">
  <a href="https://bulma.io/">Bulma</a> is a modern CSS framework based on
  <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox">Flexbox</a>
</p>

<div class="field">
  <div class="control">
    <input class="input" type="text" placeholder="Input">
  </div>
</div>

<div class="field">
  <p class="control">
      <span class="select">
        <select>
          <option>Select dropdown 1</option>
          <option>Select dropdown 2</option>
          <option>Select dropdown 3</option>
        </select>
      </span>
  </p>
</div>

<div class="buttons">
  <a class="button is-primary">Primary</a>
  <a class="button is-link">Link</a>
</div>
